<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Content Table</title>

    <link th:rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css}"/>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <!-- style="width: 100%" -->
            <table id="example" class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Region</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="object : ${objects.page.content}">
                    <td th:text="${object.getId()}">Id</td>
                    <td th:text="${object.getRegion()}">Region</td>
                </tr>
                </tbody>
            </table>

            <nav aria-label="Page navigation" class="paging">
                <ul class="pagination" th:if="${objects.page.totalPages > 1}">
                    <li class="page-item" th:classappend="${!objects.paging.isPrevEnabled()? 'disabled' : ''}">
                        <a class="page-link" th:href="@{'/?pageNumber=' + ${objects.paging.pageNumber - 1}}"
                           tabindex="-1">Previous</a>
                    </li>
                    <th:block th:each="item : ${objects.paging.getItems()}">
                        <li class="page-item" th:classappend="${item.index == objects.paging.pageNumber? 'active' : ''}"
                            th:if="${item.pageItemType.name() == 'PAGE'}">
                            <a class="page-link" th:href="@{'/?pageNumber=' + ${item.index}}"
                               th:text="${item.index}"></a>
                        </li>
                        <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                            <a class="page-link" href="#">...</a>
                        </li>
                    </th:block>
                    <li class="page-item" th:classappend="${!objects.paging.isNextEnabled()? 'disabled' : ''}">
                        <a class="page-link" th:href="@{'/?pageNumber=' + ${objects.paging.pageNumber + 1}}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>


<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script>


</script>

</body>
</html>