<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Content Detail</title>
</head>
<body>
<h1>--Details--</h1>

<div th:switch="${object.getObject()}">
    <div th:case="'field'">
        <h4>Field ID</h4>
        <p th:text="${object.getId()}"></p>
        <h4>Field Name</h4>
        <p th:text="${object.getName()}"></p>
        <h4>Field Latitudes</h4>
        <p th:text="${object.getLatitudeStr()}"></p>
        <h4>Field Longitudes</h4>
        <p th:text="${object.getLongitudeStr()}"></p>
        <h4>Field from Area with ID</h4>
        <p th:text="${object.getArea().getId()}"></p>
    </div>
    <div th:case="'sample'">
        <h4>Sample ID</h4>
        <p th:text="${object.getId()}"></p>
        <h4>Sample Latitude</h4>
        <p th:text="${object.getLatitude()}"></p>
        <h4>Sample Longitude</h4>
        <p th:text="${object.getLongitude()}"></p>
        <h4>Sample Depth</h4>
        <p th:text="${object.getDepth()}"></p>
        <h4>Sample from Field with ID</h4>
        <p th:text="${object.getField().getId()}"></p>
    </div>
    <div th:case="'area'">
        <h4>Area ID</h4>
        <p th:text="${object.getId()}"></p>
        <h4>Area Region</h4>
        <p th:text="${object.getRegion()}"></p>
    </div>
</div>


<!--<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit!</a>-->


<form th:method="DELETE"
      th:action="@{/locations/{obj_name}/{id}(id=${object.getId()}, obj_name=${object.getObject()})}">
    <button type="submit">Delete!</button>
</form>
</body>
</html>